* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Common Attributes */
h1 {
    font-size: 3.5em;
    color: whitesmoke;
}

h3 {
    font-size: 1.75em;
}

.section-content {
}

#welcome-section {
    background-color: #9B2226;
}

#about-section {
    background-color: #AE2012;
}

#projects {
    background-color: #BB3E03;
    height:fit-content;
}

#contact-section {
    background-color: #CA6702;
    height: fit-content;
}

.section-text {
    font-size: 1.75em;
    color: #E9D8A6;
    text-align: justify;
}

.contact-button-container > a {
    font-size: 1.5em;
    margin: 0 .5em 0 .5em;
}

.contact-button-container > a:hover {
    color: white;
    font-size: 2em;
}

/* This query addresses the padding issue with the static navigation bar */
@media (min-width: 320px) and (max-width: 899px) { /* Query for mobile devices */
    
    #welcome-section {
        font-size: 0.75em;
        padding: 40vh 5vh;
    }

    #about-section {
        padding: 10vh 5vh;
        font-size: 0.75em;
    }
    
    #projects {
        font-size: 0.75em;
        padding: 10vh 5vh;
    }
    
    #contact-section {
        padding: 5vh;
    }
}

@media (min-width: 900px) and (max-width: 1199px)  /* Query for tablets */
{
    #welcome-section {
        background-color: green;
        text-align: center;
        padding: 2em;
    }
}

@media (min-width: 1200px) { /* Query for desktops */
    html {
        scroll-padding-top: 70px;
    }

    #welcome-section {
        background-color: #9B2226;
        text-align: center;
        padding: 40vh 50vh;
    }

    #about-section {
        height: fit-content;
        padding: 40vh 25vh;
    }

    #projects {
        padding: 10em 0;
    }

    #contact-section {
        padding: 5em;
    }
}

.navbar {
    background: #001219;
}

a.nav-link.button.btn {
    color: whitesmoke;
    font-size: 1.5em;
    padding: 1em;
    border-radius: 0;
    border: 0;
}

nav .button:hover {
    background: rgb(45,45,45);
    background: linear-gradient(90deg, rgba(45,45,45,1) 0%, rgba(119,117,117,1) 50%, rgba(212,211,211,1) 100%);
    color: whitesmoke;
}

/* These are all classes used to structure the contents of the projects section */
.project-tile-array {
    padding: 1em 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2.5em;
    row-gap: 2.5em;
    justify-content: center;
}

.project-tile {
    background-color: #060606;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: #E9D8A6;
    border-radius: 0.5em;
    text-decoration: none;
    max-width: 30em;
    max-height: 60em;

}

.tile-body {
    padding: 1em;
    text-align: center;
    margin: 0;
}

.tile-title {
    padding: 0;
    color: #AE2012;
}

.tile-text {
    padding: 0;
    color: #E9D8A6;
    max-width: inherit;
    text-align: center;
}

.project-tile > .tile-image {
    background-repeat: no-repeat;
    border-radius: 0.5em 0.5em 0 0;
}

